/*html, body, #map {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}*/

.fires, .fires svg {
  position: absolute;
}

.fires svg {
  width: 60px;
  height: 20px;
  padding-right: 100px;
  font: 10px sans-serif;
}

.fires circle {
  fill: rgba(192, 59, 12, 0.5);
}
