.fires, .fires svg {
  position: absolute;
}

.fires svg {
  width: 400px;
  height: 100px;
  padding-right: 100px;
  font: 10px sans-serif;
}

.fires circle {
  fill: rgba(192, 59, 12, 0.5);
}

/*.fires rect {
  display: inline-block;
  width: 200px;
  height: 200px;
  color: #666666;
  fill: rgba(255, 255, 255, 0.5);
}*/
