.panel-heading {
  background-image: url("/assets/images/telefire.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.panel-body {
  background-image: url("/assets/images/wildfire.jpg");
  background-position: center;
  background-repeat: no-repeat;
  color: black;
}

.panel-height {
  height: 400px;
}
