.panel {
  border: none;
}

.panel-heading {
  background-color: black;
  color: white;
  border-bottom: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.panel-body {
  display: grid;
  overflow: hidden;
  background-color: #000000;
  padding: 0;
}

.panel-image {
  align-self: stretch;
  /*height: inherit;*/
  position: relative;
  overflow: hidden;
}

.firefighter {
  width: 100%;
  height: 100%;
}

.panel-listings {
  position: absolute;
  overflow-y: scroll;
  right: 81%;
  height: 100%;
  background-color: rgba(250, 210, 28, 0.7);
  padding: 1rem 2rem 2rem 2rem;
  line-height: 1rem;
  z-index: 999;
  display: flex;
  flex-direction: column;
}

.panel-listings::-webkit-scrollbar {
  background-color: rgba(250, 210, 28, 0.3);
}

.panel-listings::-webkit-scrollbar-thumb {
  background-color: rgba(225, 185, 5, 1);
  min-height: 20px !important;
}

h5.panel-listing {
  margin-top: 0;
}

.panel-listing {
  color: #333333;
}

.panel-listing:hover {
  color: #666666;
  cursor: pointer;
}
