
<header>
  <div class="overlay">
    <div class="content">
      <div class="container title-container">
        <h1 class="title">
          {{title}}
        </h1>
      </div>
      <div class="container links">
        <a class="btn enter" href="#map-component">Enter At Your Own Risk</a>
      </div>
    </div>
  </div>
</header>
<router-outlet></router-outlet>
<footer>Footer stuff goes here.</footer>




<!--
<nav class="navbar navbar-default">
  <div class="navbar-header">
  </div>
</nav> -->
