
<header id="home">
  <div class="overlay">
    <div class="content">
      <div class="container title-container">
        <h1 class="title">
          {{title}}
        </h1>
      </div>
      <div class="container links">
        <a class="btn enter" href="#map-component">Enter At Your Own Risk</a>
      </div>
    </div>
  </div>
</header>
<router-outlet></router-outlet>
<footer>Credits:<br> <a href="https://eonet.sci.gsfc.nasa.gov/">NASA EONET</a><br> <a href="https://inciweb.nwcg.gov/">Incident Information System</a></footer>




<!--
<nav class="navbar navbar-default">
  <div class="navbar-header">
  </div>
</nav> -->
