<div class="container" id="safety">
  <h2>Wildfire safety tips</h2>

  <p>Every year, wildfires burn across the U.S., and more and more people are living where wildfires are a real risk. Nearly 45 million homes abut or intermingle with wildlands and more than 72,000 U.S. communities are now at risk. But by working together residents can make their own property - and their neighborhood - much safer from wildfire.</p>
  <br>
  <br>
  <br>
  <hr> 
  <h5><strong>Before a wildfire threatens your area…</strong></h5>
  <h6><em>In and around your home</em></h6>
  <ul>
    <li class="tip-list">Clear leaves and other debris from gutters, eaves, porches and decks. This prevents embers from igniting your home.</li>
    <li class="tip-list">Remove dead vegetation and other items from under your deck or porch, and within 10 feet of the house.</li>
    <li class="tip-list">Screen or box-in areas below patios and decks with wire mesh to prevent debris and combustible materials from accumulating.</li>
    <li class="tip-list">Remove flammable materials (firewood stacks, propane tanks) within 30 feet of your home’s foundation and outbuildings, including garages and sheds. If it can catch fire, don’t let it touch your house, deck or porch.</li>
    <li class="tip-list">Wildfire can spread to tree tops. Prune trees so the lowest branches are 6 to 10 feet from the ground.</li>
    <li class="tip-list">Keep your lawn hydrated and maintained. If it is brown, cut it down to reduce fire intensity. Dry grass and shrubs are fuel for wildfire.</li>
    <li class="tip-list">Don’t let debris and lawn cuttings linger. Dispose of these items quickly to reduce fuel for fire.</li>
    <li class="tip-list">Inspect shingles or roof tiles. Replace or repair those that are loose or missing to prevent ember penetration.</li>
    <li class="tip-list">Cover exterior attic vents with metal wire mesh no larger than 1/8 inch to prevent sparks from entering the home.
    </li>
    <li class="tip-list">Enclose under-eave and soffit vents or screens with metal mesh to prevent ember entry.</li>
    <li class="tip-list">Learn more about how to protect your home and property at <a href="http://www.firewise.org">www.firewise.org</a>.</li>
  </ul>
  <br>
  <h6><em>Creating an emergency plan</em></h6>
  <ul>
    <li class="tip-list">Assemble an emergency supply kit and place it in a safe spot. Remember to include important documents, medications and personal identification.</li>
    <li class="tip-list">Develop an emergency evacuation plan and practice it with everyone in your home.</li>
    <li class="tip-list">Plan two ways out of your neighborhood and designate a meeting place.</li>
  </ul>
  <br>
  <h6><em>In your community</em></h6>
  <ul>
    <li class="tip-list">Contact your local planning/zoning office to find out if your home is in a high wildfire risk area, and if there are specific local or county ordinances you should be following.</li>
    <li class="tip-list">If you are part of a homeowner association, work with them to identify regulations that incorporate proven preparedness landscaping, home design and building material use.</li>
    <li class="tip-list">Talk to your local fire department about how to prepare, when to evacuate, and the response you and your neighbors can expect in the event of a wildfire.</li>
    <li class="tip-list">Learn about wildfire risk reduction efforts, including how land management agencies use prescribed fire to manage local landscapes.</li>
    <li class="tip-list">Learn how you can make a positive difference in your community.</li>
  </ul>
  <br>
  <h5><strong>During the time a wildfire is in your area…</strong></h5>
  <ul>
    <li class="tip-list">Stay aware of the latest news and updates from your local media and fire department. Get your family, home and pets prepared to evacuate.</li>
    <li class="tip-list">Place your emergency supply kit and other valuables in your vehicle.</li>
    <li class="tip-list">Move patio or deck furniture, cushions, door mats and potted plants in wooden containers either indoors or as far away from the home, shed and garage as possible.
    </li>
    <li class="tip-list">Close and protect your home’s openings, including attic and basement doors and vents, windows, garage doors and pet doors to prevent embers from penetrating your home.</li>
    <li class="tip-list">Connect garden hoses and fill any pools, hot tubs, garbage cans, tubs, or other large containers with water. Firefighters have been known to use the hoses to put out fires on rooftops.
    </li>
    <li class="tip-list">Leave as early as possible, before you’re told to evacuate. Do not linger once evacuation orders have been given. Promptly leaving your home and neighborhood clears roads for firefighters to get equipment in place to fight the fire, and helps ensure residents’ safety.
    </li>
  </ul>
  <br>
  <h5><strong>After a wildfire has been contained…</strong></h5>
  <ul>
    <li class="tip-list">Continue to listen to news updates for information about the fire. Return home only when authorities say it is safe.</li>
    <li class="tip-list">Visit <a href="mttps://www.ready.gov/">FEMA/Ready.gov</a> for more information regarding wildfire after an emergency.</li>
  </ul>
  <br>
  <hr>
  <footer></footer>
</div>
