body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /*background-color: #000000;*/
}

app-root {
  background-color: #000000;
}

header {
  height: 100vh;
  background-image: url("./assets/images/burning-forest.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.overlay {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1.title {
  display: inline-block;
  padding: 2rem;
  border: 2px solid #ffffff;
  color: #ffffff;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 2rem;
}

button.enter {
  background-color: rgba(255, 255, 255, 0.0);
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 1rem;
}

button.enter:hover {
  background-color: rgba(255, 255, 255, 1);
  color: #000000;
  border: 1px solid #ffffff;
  padding: 1rem;
}

router-outlet {
  display: flex;
  flex: 1 0 0;
}

section, app-home-page {
  height: 100vh;
  margin: 0;
}

#map-component {
  background-color: #000000;
  margin-top: 4rem;
}

footer {
  height: 8rem;
}

h1 {
  text-align: center;
}

/*.jumbotron {
  background-image: url("./assets/images/telefire.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-style: italic;
  font-family: sans-serif;
}

.jumbotron h1 {
  color: white !important;
}

.body {
  background-color: black;
}*/

.map-heading {
  color: #ffffff;
  margin-bottom: 4rem;
}

#map {
  height: 600px;
}

.tip-list {
  list-style-image: url("./assets/Fire_Emoji_grande.png");
}
