<section class="container" id="map-component">
    <div class="map-heading">
      <h2>Welcome to the Oregon Fire Map</h2>
      <h4>Click points on the map to view current wildfire incident information.</h4>
    </div>
    <div class="map-buttons">
      <button><a class="link" routerLink="">Home</a></button>
      <button><a class="link" routerLink="app-gallery">Fire Gallery</a></button>
      <button><a class="link" routerLink="app-safety">Fire Safety Tips</a></button>
    </div>
    <div id="map-body">
      <app-map></app-map>
    </div>
</section>
<section>
  <app-gallery></app-gallery>
</section>
