<section class="container" id="map-component">
    <div class="map-heading">
      <h2>Welcome to the Oregon Fire Map</h2>
      <h4>Click points on the map to view current wildfire incident information.</h4>
    </div>
    <div class="map-buttons">
      <a class="btn" routerLink="">Home</a>
      <a class="btn" routerLink="app-gallery">Fire Gallery</a>
      <a class="btn" routerLink="app-safety">Fire Safety Tips</a>
    </div>
    <div id="map-body">
      <app-map></app-map>
    </div>
</section>
<section>
  <app-gallery></app-gallery>
</section>
